[submodule "build-a-tribute-page"]
	path = build-a-tribute-page
	url = https://github.com/gabrielml/build-a-tribute-page
[submodule "build-a-survey-form"]
	path = build-a-survey-form
	url = https://github.com/gabrielml/build-a-survey-form
[submodule "build-a-product-landing-page"]
	path = build-a-product-landing-page
	url = https://github.com/gabrielml/build-a-product-landing-page
[submodule "build-a-technical-documentation-page"]
	path = build-a-technical-documentation-page
	url = https://github.com/gabrielml/build-a-technical-documentation-page
